.App {
  text-align: center;
}

.landing-div {
  background: url("https://i.imgur.com/qiYpQv6.jpg") center;
  background-size: cover;
  height: 100vh;
}

.nav {
  color: #c4dbe0;
}

.navbar-primary {
  background-color: #c4dbe0 !important;
}

.cardBody {
  height: 200px !important;
  width: 375px !important;
  background-color: white;
}

.card {
  /* margin-bottom: 100px !important;
  width: 500px !important; */
}

.example-pic-1 {
  background: url(../src/assets/IMG_1244.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#cardP {
  display: flex;
  padding-left: 750px;
  font-size: 30px;
}

.footer {
  padding: 10px 10px 0px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  background: url(../src/assets/FooterBackground.jpg);
  color: white;
  text-align: center;
  min-height: 200px;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  width: 100% !important;
}

.cart-container {
  display: grid !important;
  grid-template-columns: repeat(1, 1fr) !important;
  height: 100% !important;
  margin-left: 180px;
  margin-right: auto;
}
.item-container {
  height: 100vh;
}

.landing-text {
  color: white;
}

.landingpage {
  background: #00a8a8;
}

.products-container {
  /* display: flex;
  justify-items: center;
  flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  background: #0c6980;
  height: 100%;
  width: 100vw;
}

.heading {
  background-color: #0c6980;
}

.cart-div {
  background-color: #2eb5e0;
}

.product-text {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-left: 475px;
}

.navlinks {
  font-size: 20px;
  padding: 10px;
  color: #00a8a8;
}

.homeTitle {
  color: #00a8a8 !important;
}

body {
  margin: 0;
  padding: 0;
}

.example-pic-container {
  padding-bottom: 20px;
  background-color: #2eb5e0;
}

.cartP,
.cartheading,
.product-text,
.fullcartheading,
.itemheading {
  color: white;
}

.indivCardImage {
  display: flex !important;
  justify-items: center !important;
  height: 400px !important;
  width: 450px !important;
}

.cartImage {
  width: 375px !important;
}

/* .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 375px;
} */

.product-cards {
  background-color: #2eb5e0 !important;
  width: 450px !important;
  margin-bottom: 100px !important;
}

/* .card-img-top {
  display: flex !important;
  justify-items: center !important;
  height: 400px !important;
  width: 449px !important;
} */

.product-picture {
  background-color: #00a8a8 !important;
}

.first-button {
  padding: 7.5px;
}

.container {
  display: flex !important;
  justify-content: center;
}
