.App {
  text-align: center;
}

.landing-div {
  background: url(../src/assets/LandingPic.jpg) center;
  background-size: cover;
  height: 100vh;
}

.footer {
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  background: url(../src/assets/FooterBackground.jpg);
  color: white;
  text-align: center;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  width: 100% !important;
}

.cart-container {
  height: 100%;
}
