.App {
  text-align: center;
}

.landing-div {
  background: url(../src/assets/IMG_1243.jpg) center;
  background-size: cover;
  height: 100vh;
}

.nav {
  color: #c4dbe0;
}

.navbar-primary {
  background-color: #c4dbe0 !important;
}

.cardBody {
  height: 200px !important;
  width: 375px !important;
  background-color: white;
}

.example-pic-1 {
  background: url(../src/assets/IMG_1244.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  padding: 10px 10px 0px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  background: url(../src/assets/FooterBackground.jpg);
  color: white;
  text-align: center;
  min-height: 200px;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  width: 100% !important;
}

.cart-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  height: 100vh !important;
  margin-left: 160px;
  margin-right: auto;
}
.item-container {
  height: 100vh;
}

.landing-text {
  color: white;
}

.landingpage {
  background: #00a8a8;
}

.products-container {
  margin-left: auto;
  margin-right: auto;
  background: #0c6980;
  height: 100%;
  width: 100vw;
}

.cart-div {
  background-color: #2eb5e0;
}

.product-text {
  display: flexbox;
  justify-content: center;
  width: 50vw;
  margin-left: 475px;
}

.navlinks {
  font-size: 20px;
  padding: 10px;
  color: #00a8a8;
}

.homeTitle {
  color: #00a8a8 !important;
}

body {
  margin: 0;
  padding: 0;
}

.example-pic-container {
  padding-bottom: 20px;
  background-color: #2eb5e0;
}

.cartP,
.cartheading,
.product-text,
.fullcartheading,
.itemheading {
  color: white;
}

.cardimage {
  width: 150px !important;
  height: 200px !important;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 375px;
  background: ;
}

.product-cards {
  background-color: #2eb5e0 !important;
  width: 375px !important;
}

.card-img-top {
  display: flex !important;
  justify-items: center !important;
  height: 400px !important;
  width: 375px !important;
}

.product-picture {
  background-color: #00a8a8 !important;
}

.first-button {
  padding: 7.5px;
}

.container {
  display: flex !important;
  justify-content: center;
}
