.individualP {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #0c6980;
}

.individualPBody {
  background-color: #00a8a8;
  height: 400px !important;
}

.wholeCard {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  background-color: #2eb5e0 !important;
  border: black !important;
  border-width: 50px !important;
  border-radius: 35px !important;
  height: 70vh;
  margin-top: 100px;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 450px;
}
