.individualP {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #0c6980;
}

.wholeCard {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  background-color: #2eb5e0 !important;
  border: black !important;
  border-radius: 35px !important;
  height: 85vh !important;
  /* width: 75% !important; */
  margin-top: 60px;
}

.card-body {
  background-color: #00a8a8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 450px;
}

.indivCardImage {
  height: 70vh !important;
  width: 30vw !important;
}

.indivButton {
  display: flex;
  justify-content: center;
}
